@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center">
    @if (!SignInManager.IsSignedIn(User))
    {
        <p>Hello, welcome to ReVision ! </p>
        <p>Login or create an account to start using the app !</p>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    }

    else
    {
        <h2>Welcome back @User.Identity.Name !</h2>
        <a href="/subjects?username=@User.Identity.Name">Go to my subjects</a>
    }
</div>

