@page
@model RevisionWebV2.Pages.QuestionsModel
@{
}

<div class="center">

    <h2>Choose a question : </h2>

    <div class="list_container">
        @foreach (var q in Model.sub.Questions)
        {
            <div class="list_item">
                <a class="list_item_link" href="/answers?qid=@q.Id">@q.Title</a>
            </div>
        }
    </div>


    @if (Model.isOwnUserSubject == true)
    {
        <form class="add_element_form" method="post">
            <input type="hidden" value="@Model.sid" />
            <input type="text" name="title">
            <input type="submit" class="AddElementButton" value="Ajouter question">
        </form>
    }

    

</div>
