@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model RevisionWebV2.Pages.SubjectsModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center">

    <h2>Choose a subject : </h2>

    <div class="list_container subjects_container">
        @if (Model.subjects.Count > 0)
        {
            @foreach (var m in Model.subjects)
            {
                <div class="subject_item">
                    <div class="subject_item_first_row">
                        <h3>@m.Title</h3>
                        <div>
                            @if (m.Questions.Count > 0)
                            {
                                <a href="/answers?qid=@m.Questions.First().Id">
                                    <img src="~/assets/play-button-hover.png" class="play-hover" />
                                </a>
                            }
                            <a href="/questions?sid=@m.Id">
                                <img src="~/assets/loupe-hover.png" class="search-hover" />
                            </a>
                        </div>
                    </div>

                </div>
            }
        }
        else
        {
            <p>There's no subject yet.</p>
        }
        
    </div>

    @if (Model.isOwnSubjectOwner)
    {
        <form class="add_element_form" method="post">
            <input type="text" name="title">
            <input type="submit" class="AddElementButton" value="Ajouter sujet">
        </form>
    }
</div>
